<ion-view>
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-buttons>
            <a href="#/menu"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
        </ion-nav-buttons>
        <ion-nav-title><a menu-toggle="right"><img style="width: auto; height: 40px;" src="img/icono.png"/></a></ion-nav-title>
        <ion-nav-buttons side="right">
            <a href="#/menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="contenedor">
            <center><h2>Anuncios</h2></center>
            <table id="tablaAnuncios">
                <tr>
                    <th class="negrita">Fecha</th>
                    <th class="negrita">Título</th>
                    <th class="negrita">Autor</th>
                </tr>
                <tr ng-repeat="dato in datos" ng-click="mandarAnuncios({{dato.id}})">
                    <td class="negrita">{{dato.fecha}}</td>
                    <td>{{dato.titulo}}</td>
                    <td class="negrita">{{dato.nombre}}</td>
                </tr>
            </table>
        </div>
    </ion-content>
</ion-view>