<ion-view class="contenedor-login">
    <ion-content>
        <div class="">
            <div class="encabezado_login">
                <center><img style="width: auto; height: 60px;" src="../img/icono.png"/></center>
            </div>
            <div class="formulario">
                <form>
                    <div class="grupo_formulario" href="#">
                        <!-- ICONO -->
                        <div class="icono">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                        <!-- TEXTO PIE -->
                        <div class="texto_enlace">
                            <p>Correo Electrónico</p>
                        </div>
                        <input id="textoUsuario" type="text" name="nombre_usuario">
                    </div>

                    <div class="grupo_formulario_2" href="#">
                        <!-- ICONO -->
                        <div class="icono">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </div>
                        <!-- TEXTO PIE -->
                        <div class="texto_enlace">
                            <p>Contraseña</p>
                        </div>
                        <input id="textoPasswd" type="password" name="password">
                    </div>				
                    
                    <div class="grupo_formulario_boton" >
                        <button ng-click="hacerLogin()" type="button">Acceder</button>
                    </div>
                </form>
            </div>

            <div class="olvido_pwd">
                <a class="boton" href="#/recover-passwd">
                    <!-- ICONO -->
                    <div class="icono">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </div>
                    <!-- TEXTO PIE -->
                    <div class="texto_enlace">
                        <p>¿Olvidó su password?</p>
                    </div>
                </a>		
            </div>	
        
            <div class="pie">
                <a class="boton" href="#/solicitud-alta">
                    <!-- ICONO -->
                    <div class="icono">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </div>
                    <!-- TEXTO PIE -->
                    <div class="texto_enlace">
                        <p>No estoy registrado</p>
                    </div>
                </a>		
            </div>
	    </div>
    </ion-content>
</ion-view>