<ion-view>
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-buttons>
            <a href="#/anuncios"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
        </ion-nav-buttons>
        <ion-nav-title><a menu-toggle="right"><img style="width: auto; height: 40px;" src="img/icono.png"/></a></ion-nav-title>
        <ion-nav-buttons side="right">
            <a href="#/menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="contenedor">
            <center><h2>Anuncio</h2></center>
            <div class="contenedorRaro">
                <div>
                    <p class="DatosNombre">{{datos.nombre}} {{datos.apellido2}}</p>
                    <p class="DatosFecha">{{datos.fecha}} - {{datos.hora}}</p>
                    <h2 class="DatosTitulo">{{datos.titulo}}</h2>
                    <p class="DatosContenido" ng-bind-html="datos.contenido"></p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>