<ion-view>
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-buttons>
           <div id="atrasNovedades" style="visibility: hidden"><a href="{{algo}}" ><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a></div>
        </ion-nav-buttons>
        <ion-nav-title><a menu-toggle="right"><img style="width: auto; height: 40px;" src="img/icono.png"/></a></ion-nav-title>
        <ion-nav-buttons side="right">
            <a href="#/menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="contenedor">
            <center><h2>Novedades</h2></center>
            <h3>Próximas fiestas</h3>
            <div>
                <table id="tablaFiestasNovedades">
                </table>
            </div>

            <h3>Últimas novedades</h3>
            <p>No hay ninguna novedad</p>

            <h3>Meteorología</h3>
            <div id="cont_50a8c69ed82db38603dddd2843bf82b3"><script type="text/javascript" src="https://www.tiempo.com/wid_loader/50a8c69ed82db38603dddd2843bf82b3"></script></div>
        </div>
    </ion-content>
</ion-view>