<ion-view>
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-buttons>
            <a href="#/login"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
        </ion-nav-buttons>
        <ion-nav-title><a menu-toggle="right"><img style="width: auto; height: 40px;" src="img/icono.png"/></a></ion-nav-title>
    </ion-nav-bar>
    <ion-content>
        <div class="contenedor">
            <center><h2>Recuperar Contraseña</h2></center>
            <div id="divCondiciones"></div>
            <button class="botoncito" ng-click="aceptarCondiciones()" type="button">Aceptar</button>
        </div>
    </ion-content>
</ion-view>