<ion-view>
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-buttons>
            <a href="#/servicios"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
        </ion-nav-buttons>
        <ion-nav-title><a menu-toggle="right"><img style="width: auto; height: 40px;" src="img/icono.png"/></a></ion-nav-title>
        <ion-nav-buttons side="right">
            <a href="#/menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="contenedor">
            <center><h2>Meteorología</h2></center>
            <div style="overflow-x: scroll"><div class="mapaMeteo" id="cont_274abe4509e61bece14c3f5379617244"><script type="text/javascript" src="https://www.tiempo.com/wid_loader/274abe4509e61bece14c3f5379617244"></script></div></div>
			<p>** Ciudad Ducal está a 1300 m. de altura respecto el nivel del mar.</p>
        </div>
    </ion-content>
</ion-view>