<ion-view ng-init="ServicioEncuestasCtrl">
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-buttons>
            <a href="#/servicios"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
        </ion-nav-buttons>
        <ion-nav-title><a menu-toggle="right"><img style="width: auto; height: 40px;" src="img/icono.png"/></a></ion-nav-title>
        <ion-nav-buttons side="right">
            <a href="#/menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="contenedor ServicioEncuestas">
            <center><h2>Encuestas</h2></center>

            <a ng-click="mostrarActivas()">
                <div id="btnActiva" class="solapa">
                    Activas
                </div>
            </a>
            <a ng-click="mostrarExpiradas()">
                <div id="btnExpirada" class="solapa">
                    Expiradas
                </div>
            </a>
<br>
<br>
            <div id="divActiva">
                <div class="title">
                    <center><p>Encuestas Activas</p></center>
                </div>
            
                <div class="contenedor_solapas">
                    <table id="tablaActiva">
                        <!--<tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>-->
                        <tr>
                            <th>Fecha Creación</th>
                            <th>Fecha Expiración</th>
                            <th colspan="2">Pregunta Encuesta</th>
                        </tr>
                        <table ng-repeat="dato in datos" class="tablaEncuesta">
                            <!--<tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>-->
                            <tr>
                                <td>{{dato.fechaCreacion}}</td>
                                <td>{{dato.fechaFin}}</td>
                                <td colspan="2"><span>{{dato.pregunta}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="2" ng-click="verVotacion({{dato.id}})"><button class="btnEncuesta">Ver encuesta</button></td>
                                <td colspan="2" ng-if="dato.votado == 'false'" ng-click="mandarVotacion({{dato.id}})"><button class="btnEncuesta">Votar</button></td>
                                <td colspan="2" ng-if="dato.votado == 'true'" style="color: red">Ya ha votado</td>
                            </tr>
                            <tr class="lineaSeparacion"></tr>
                        </table>
                    </table>
                </div>
            </div>

            <div id="divExpirada">
                <div class="title">
                    <center><p>Encuestas Expiradas</p></center>
                </div>
            
                <div class="contenedor_solapas">
                    <table id="tablaExpirada">
                        <tr>
                            <th>Fecha Creación</th>
                            <th>Fecha Expiración</th>
                            <th>Pregunta</th>
                        </tr>	
                        <table ng-repeat="dato in datosExpirados" class="tablaEncuesta">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>{{dato.fechaCreacion}}</td>
                                <td>{{dato.fechaFin}}</td>
                                <td colspan="2"><span>{{dato.pregunta}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="4" ng-click="verVotacion({{dato.id}})"><button class="btnEncuesta">Ver encuesta</button></td>
                            </tr>
                            <tr class="lineaSeparacion"></tr>
                        </table>		
                    </table>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>