<ion-view>
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-buttons>
            <a href="{{algo}}"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
        </ion-nav-buttons>
        <ion-nav-title><a menu-toggle="right"><img style="width: auto; height: 40px;" src="img/icono.png"/></a></ion-nav-title>
        <ion-nav-buttons side="right">
            <a href="#/menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="contenedor">
            <center><h2>Servicios</h2></center>
            <a class="boton" href="#/servicio-tren">
                <div class="caja_resultados mitad negativo">
                    <div class="icono trenes">
                        <img src="img/img_comodin.png" alt="">
                    </div>
                    <div class="opcion_resultados">
                        <p>Horarios Tren</p>
                    </div>
                </div>
            </a>	
            
            <a class="boton" href="#/servicio-meteo">
                <div class="caja_resultados mitad negativo">
                    <div class="icono meteo">
                        <img src="img/img_comodin.png" alt="">
                    </div>
                    <div class="opcion_resultados">
                        <p>Meteorología</p>
                    </div>
                </div>
            </a>

            <a class="boton" href="#/servicio-carretera">
                <div class="caja_resultados mitad negativo">
                    <div class="icono carreteras">
                        <img src="img/img_comodin.png" alt="">
                    </div>
                    <div class="opcion_resultados">
                        <p>Carreteras</p>
                    </div>
                </div>
            </a>
            <!-- CAMBIAR ICONOOOO A MENU!!!!!! -->
            <a class="boton" href="#/servicio-carta">
                <div class="caja_resultados mitad negativo">
                    <div class="icono padel">
                        <img src="img/img_comodin.png" alt="">
                    </div>
                    <div class="opcion_resultados">
                        <p>Menú / Carta</p>
                    </div>
                </div>
            </a>

            <a class="boton" href="#/servicio-padel">
                <div class="caja_resultados mitad negativo">
                    <div class="icono padel">
                        <img src="img/img_comodin.png" alt="">
                    </div>
                    <div class="opcion_resultados">
                        <p>Pistas Pádel</p>
                    </div>
                </div>
            </a>

            <a class="boton" href="#/servicio-encuestas">
                <div class="caja_resultados mitad negativo">
                    <div class="icono encuestas">
                        <img src="img/img_comodin.png" alt="">
                    </div>
                    <div class="opcion_resultados">
                        <p>Encuestas</p>
                    </div>
                </div>
            </a>

            <a class="boton" href="#/servicio-iglesia">
                <div class="caja_resultados mitad negativo">
                    <div class="icono iglesia">
                        <img src="img/img_comodin.png" alt="">
                    </div>
                    <div class="opcion_resultados">
                        <p>Horas Iglesia</p>
                    </div>
                </div>
            </a>


            <a class="boton" href="#/servicio-telefonos">
                <div class="caja_resultados mitad negativo">
                    <div class="icono telefonos">
                        <img src="img/img_comodin.png" alt="">
                    </div>
                    <div class="opcion_resultados">
                        <p>Teléfonos</p>
                    </div>
                </div>
            </a>	
            
            <!-- <a class="boton" href="#/servicio-teatro">
                <div class="caja_resultados mitad negativo">
                    <div class="icono teatro">
                        <img src="img/img_comodin.png" alt="">
                    </div>
                    <div class="opcion_resultados">
                        <p>Teatro</p>
                    </div>
                </div>
            </a>	
            
            <a class="boton" href="#/servicio-galeria">
                <div class="caja_resultados mitad negativo">
                    <div class="icono galeria">
                        <img src="img/img_comodin.png" alt="">
                    </div>
                    <div class="opcion_resultados">
                        <p>Galería</p>
                    </div>
                </div>
            </a> -->
        </div>
    </ion-content>
</ion-view>