<ion-view>
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-buttons>
            <a href="#/servicios"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
        </ion-nav-buttons>
        <ion-nav-title><a menu-toggle="right"><img style="width: auto; height: 40px;" src="img/icono.png"/></a></ion-nav-title>
        <ion-nav-buttons side="right">
            <a href="#/menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="contenedor contenedor-telefonos">
            <center><h2>Teléfonos de utilidad</h2></center>
            <h3>Ciudad Ducal </h3>
            <p>Vigilancia: <span>615 68 77 81</span></p>
            <p class="sombreado">Encargado: <span>615 68 77 82</span></p>
            <p>Oficina: <span>91 897 23 02</span></p>
            <p class="sombreado">Club: <span>603 65 99 96</span></p>
            <h3>Las Navas del Marqués</h3>
            <p>Ayuntamiento: <span>91 897 20 00</span></p>
            <p class="sombreado">Centro Salud: <span>91 897 10 27</span></p>
            <p>Guardia Civil: <span>91 897 00 09</span></p>
            <p class="sombreado">Policía Local: <span>639 783 782</span></p>
            <p>Farmacia Carvajal Gallardo: <span>91 897 22 53</span></p>
            <p class="sombreado">Farmacia Ledesma y Gómez: <span>91 897 00 62</span></p>
            <p>Clínica veterinaria Las Navas del Marqués: <span>91 897 13 53</span></p>
            <p class="sombreado">Biblioteca municipal: <span>91 897 03 47</span></p>
            <h3>Comercios</h3>
            <p>Magalia: <span>91 897 24 49</span></p>
            <p class="sombreado">Restaurante Montecarlo: <span>91 897 06 49</span></p>
            <p>Restaurante Mogambo: <span>91 897 24 00</span></p>
            <p class="sombreado">El Sauco: <span>91 897 21 91</span></p>
            <p>Cafeteria Europa: <span>91 897 22 25</span></p>
            <p class="sombreado">Palazzo: <span>91 897 24 42</span></p>
            <p>BBVA: <span>91 897 90 39</span></p>
            <p class="sombreado">Santander Central Hispano: <span>91 897 25 03</span></p>
            <p>La Caixa: <span>91 897 00 94</span></p>
            <p class="sombreado">Bankia: <span>91 897 25 00</span></p>
            <p>Caja Ávila: <span>91 897 22 75</span></p>
            <p class="sombreado">Ferretería Redondo: <span>91 897 21 05</span></p>
            <p>Supermercado Gigante: <span>91 897 08 50</span></p>
        </div>
    </ion-content>
</ion-view>