body{
	margin:0;
	padding:0;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), 
       local('Roboto-Regular'), 
       url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) 
       format('woff');
}

body{
  font-family: Helvetica;
}

p{
    color: #007000;
}

.contenedor {
    padding: 10px;
	margin-bottom:13.5vw;
	float:left;
	width:100%;
}


/* NOVEDADES*/

.novedades i{
	margin-left:0vw !important;
	padding-left:0;
	font-size:7vw !important;
	padding-top:1vw;
	padding-bottom:1vw;
}

.novedades iframe{
	position:relative;
	float:left;
	/*box-shadow: 0px 3px 8px #aaa;*/
}

.novedades table{
	margin-bottom:5vw !important;
}

.novedades table p{
	margin-top:3.5vw !important;
}

.novedades p{
	float:left;
	text-align:center;
	width:100%;
}
	
/* CAJA EXTERNA */
.caja_modulo{
    float: left;
    /*font-family: arial;*/
    position: relative;
    width: 100%;
	border-bottom:2px solid #e7e7e7;
}

/* IMAGEN IZQUIERDA */
.caja_modulo .icono{
	position:relative; 
	float:left;
	width:20vw;
}

.caja_modulo .icono img{
	width:100%;
}	

/* CONTENEDOR TEXTO CENTRAL */
.caja_modulo .texto_categoria{
    bottom: 9px;
    left: 20%;
    position: absolute;
    top: 0;
    width: 60%;
	font-size:100%;
}

/* TEXTO CENTRAL */
.caja_modulo .texto_categoria .encabezado{
    color:#007000;
    font-size: 3.4vw;
    font-weight: bold;
   /* letter-spacing: 0.05em;*/
    margin-bottom: 0;
    margin-top: 2.3vw;
    text-transform: uppercase;
}

.caja_modulo .texto_categoria .contenido{
    color:#969696;
    font-size: 3vw;
   /* letter-spacing: 1px;*/
    line-height: 3.5vw;
    margin-bottom: 0.5vw;
    margin-top: 0
}

.caja_modulo .texto_categoria .ultimo_mensaje{
	color:#000;
	font-size: 2.3vw;
    /*letter-spacing: 1px;*/
    margin-top: 0;
}

.caja_modulo .texto_categoria .ultimo_mensaje span{
	color:#007000;
}

.caja_modulo_buscador{
   background-color:#007000;
    float: left;
    /*font-family: arial;*/
    height: 13.5vw;
    position: relative;
    width: 100%;
	-webkit-box-shadow: 0px -4px 21px -2px rgba(171,171,171,1);
	-moz-box-shadow: 0px -4px 21px -2px rgba(171,171,171,1);
	box-shadow: 0px -4px 21px -2px rgba(171,171,171,1);
}

.caja_modulo_buscador input.caja_buscar{
    border: 2px solid #bbb;
    color:#999;
    float: left;
    font-size: 3.5vw;
    font-style: italic;
    margin: 3vw 6vw;
    padding: 1.2vw 2vw;
    width: 66%;
}

.caja_modulo_buscador .boton_buscador{
    margin-left: -13vw;
	text-decoration:none;
	float:left;
	margin-top: 3vw;
}

.caja_modulo_buscador .boton_buscador img{
	width:7vw;
	height:7vw;
}

.caja_modulo_buscador span{
    color:#fff;
    font-size: 4.2vw;
    font-weight: bold;
    margin-left: 2vw;
    text-transform: uppercase;
    vertical-align: 2.1vw;
}

.modulo_enviar{
	background-color:#007000;;
 	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	position:fixed;
	bottom:0;
	z-index:9999;
}

.modulo_enviar span{
	color:#fff;
}

/* RESULTADOS */
.caja_resultados{
    float: left;
    /*font-family: arial;*/
    position: relative;
    width: 99%;
	border-bottom:2px solid #e7e7e7;
	height: 18vw;
}

.mitad {
    margin-bottom: 10px;
	border-radius: 11vw 0;
	box-shadow: 0px 0px 5vw rgba(0,100,20,0.5) inset;
}
.mitad p, a:hover .negativo p{
	color:#087808;
}

.negativo p, a:hover .mitad p{
	color:#fff;
}

.negativo p{
	font-size:5vw;
	/*margin: 2.8vw 3vw 0;*/
}

.title {
padding-top: 3px !important;}

/* CONTENEDOR TEXTO CENTRAL */
.texto_resultados{
	bottom: 9px;
	left: 14vw;
	position: absolute;
	top: 0;
	width: 65%;
	font-size: 100%;
}

.opcion_resultados{
    left: 16vw; 
    position: absolute;
    font-size: 3.7vw;
    font-weight: bold;
    color: #fff;
	margin-top: 6.2vw;
}

a.boton:hover .opcion_resultados{
	color:#007000;
}

a.boton:hover .opcion_resultados p{
	color:#007000;
}

.linea_completa{
	left: 3.3vw;
	width: 85%;
}

.texto_resultados .encabezado{
    color:#969696;
    font-size: 3.4vw;
    /*letter-spacing: 0.05em;*/
    margin-bottom: 0;
	margin-top: 3vw;
    text-transform: uppercase;
}

.texto_resultados .encabezado span{
    font-weight: bold;
	color:#000;
}
	
.texto_resultados .contenido{
    color:#969696;
    font-size: 3vw;
    line-height: 4vw;
    margin-bottom: 0.5vw;
    margin-top: 0
}

.texto_resultados .contenido span{
    font-weight:bold;
}

.texto_resultados .contenido strong{
    color:#087808;
}

.caja_resultados .flecha{
	position:relative; 
	float:right;
	width:10%;
	text-align: center;
	height:100%;
	display: block;
}

.caja_resultados .flecha a:hover{
	opacity:0.5;
}

.caja_resultados .flecha img{
    margin-left: 20%;
    margin-top: 70%;
    vertical-align: middle;
    width: 40%;
}

/* CAJA EN NEGATIVO */
.negativo {
	background-color:#087808;
}

.negativo .encabezado{
    color:#fff;
}

.negativo  .encabezado span{
	color:#fff;
}

.negativo   .contenido{
    color:#ddd;
}

.negativo   .contenido strong{
    color:#ddd;
}

.caja_resultados .flecha{
	position:relative;
	float:right;
	width:10%;
	text-align: center;
	height:100%;
	display: block;
}

.caja_resultados .flecha a:hover{
	opacity:0.5;
}

.caja_resultados .flecha img{
    margin-left: 20%;
    margin-top: 70%;
    vertical-align: middle;
    width: 40%;
}

.caja_resultados .icono{
	position:relative; 
	float:left;
	width:18vw;
}

.caja_resultados .icono img{
	width: 65%;
	top: 3.1vw;
	position: relative;
	left: 2.3vw;
	background-size: 100%;
}

.caja_resultados .meteo img{background-image: url("../img/estacionMeteorologica_hv.png");}
a:hover .caja_resultados .meteo img{background-image: url("../img/estacionMeteorologica.png");}

.caja_resultados .trenes img{background-image: url("../img/horariosTrenes_hv.png");}
a:hover .caja_resultados .trenes img{background-image: url("../img/horariosTrenes.png");}

.caja_resultados .carreteras img{background-image: url("../img/estadoCarreteras_hv.png");}
a:hover .caja_resultados .carreteras img{background-image: url("../img/estadoCarreteras.png");}

.caja_resultados .menu img{background-image: url("../img/menuRestaurante_hv.png");}
a:hover .caja_resultados .menu img{background-image: url("../img/menuRestaurante.png");}

.caja_resultados .padel img{background-image: url("../img/pistasPadel_hv.png");}
a:hover .caja_resultados .padel img{background-image: url("../img/pistasPadel.png");}

.caja_resultados .iglesia img{background-image: url("../img/horarioIglesia_hv.png");}
a:hover .caja_resultados .iglesia img{background-image: url("../img/horarioIglesia.png");}

.caja_resultados .galeria img{background-image: url("../img/galeria_hv.png");}
a:hover .caja_resultados .galeria img{background-image: url("../img/galeria.png");}

.caja_resultados .telefonos img{background-image: url("../img/telefonosUtilidad_hv.png");}
a:hover .caja_resultados .telefonos img{background-image: url("../img/telefonosUtilidad.png");}

.caja_resultados .teatro img{background-image: url("../img/teatro_hv.png");}
a:hover .caja_resultados .teatro img{background-image: url("../img/teatro.png");}

.caja_resultados .encuestas img{background-image: url("../img/tablonEncuestas_hv.png");}
a:hover .caja_resultados .encuestas img{background-image: url("../img/tablonEncuestas.png");}

.caja_resultados .icono i{
    font-size: 8vw;
    margin-left: 4.5vw;
    margin-top: 5vw;
    color:#007000;
    text-shadow: 2px 2px 0.5vw rgba(0,0,0,0.3);
}	

.negativo .icono i{
	color:#fff;	
}

/* HOVER */
a.boton:hover .caja_resultados {
	background-color:#007000;
}

a.boton:hover .caja_resultados .encabezado{
	color:#fff;
}

a.boton:hover i, a.boton:hover span {
	color:#fff;
}

a.boton:hover .contenido strong{
    color:#fff;
}

/* HOVER NEGATIVO*/
a.boton:hover .negativo {
	background-color:#d8ecd9;
}

a.boton:hover .negativo span{
	color:#000;
}

a.boton:hover .negativo i, a.boton:hover .negativo .contenido strong {
	color:#007000;
}

a.boton:hover .negativo .encabezado{
	color:#969696;
} 

.bar.bar-positive{
    border-color: #007000;
    background-color: #007000;
    background-image: linear-gradient(0deg, #007000, #007000 50%, transparent 50%);
    color:#fff; 
}

.bar.bar-positive .title {
    color: #fff; 
    font-weight: bold;
}

.bar.bar-positive a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.bar.bar-positive a i{
    margin-top: 1px;
    font-size: 30px;
}

.bar.bar-positive.bar-footer {
    background-image: linear-gradient(180deg, #007000, #007000 50%, transparent 50%);
}

.back-button{
    width: 50px;
    height: 50px;
}

h1, h2, h3{
    color:#007000;
}

.mapaCarretera{
    margin-top: 1vw;
    width: 100%;
    height: 500px;
	border-radius: 2vw;
	    box-shadow: 0px 3px 8px #aaa;
	
}

.mapaMeteo{
    margin-top: 15px;
    width: 100%;
    height: auto;
}

.tituloTablaMenu{
    background-color: #007000;
    color: white;
    font-size: 5vw;
    font-weight: bold;
    padding: 4vw 20px 4vw 20px;
    margin-top: 10px;
    border-radius: 6vw 0 6vw 0;
}

.tituloTablaMenu i{
    margin-right: 15px;
}

.tablaMenu table tr td{
    width: 50%;
    padding: 10px;
    font-size: 17px;
}

.contenidoMenu{
    display: none;
    width: 100%;
	 box-shadow: 0px 3px 8px #aaa;
	 margin-top:2vw;
}

.contenidoMenu td{
	vertical-align:middle;
	font-size:3.5!important;}
	

.contenidoMenu td.precio{
	font-weight: bold;
}
	
	
.rawWhite{
    background-color: white;
}

.rawGrey{
    background-color: #eee;
}

.precio{
    text-align: right;
}

.seleccion_horario input{
    float: left;
    display: block;
    font-size: 5.5vw;
    width: 98%;
    height: 12vw;
    box-shadow: 0px 3px 8px #aaa;
    border: 1px solid #ddd;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: normal;
    letter-spacing: 0.1em;
    background-color: #eee;
    margin-left: 1%;
    margin-bottom: 5%;	
	text-align:center;
}


/* CALENDARIO */

.onezone-datepicker.onezone-datepicker-show {
    border: 1px solid #ddd !important;
    border-radius: 1vw !important;
	box-shadow: 0px 3px 8px #aaa;
}

.ion-ios-arrow-forward:before, .ion-ios-arrow-back:before, .ion-ios-close-outline:before,.ion-ios-checkmark:before, .onezone-datepicker-active-day, .onezone-datepicker-active-day:hover{	color:#007000 !important;
}

.onezone-datepicker-button{
	border-bottom: 1px solid #007000 !important;
}

.onezone-datepicker-button:after {
    border-bottom: 6px solid #007000!important;
}

.onezone-datepicker-active-day, .onezone-datepicker-active-day:hover {
    border: 2px solid #007000 !important;
}

.onezone-datepicker-modal-item.onezone-datepicker-modal-item-active {
    background-color: #007000!important;
}
.botoncito{
    float:left;
	display: block;
	font-size: 5vw;
	width: 60%;
	padding-left:5%;
	padding-right: 5%;
	margin-left:20%;	
	margin-top:8%;	
	margin-bottom:10%;
	height: 14vw;
	box-shadow: 0px 3px 8px #aaa;
	border: none;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0em;
	border-radius: 1vw;
	background-color: #007000;
	color: #fff;
	cursor: pointer;
}
.boton-fecha{
    height: 10vw !important;
    background-color: #007000 !important;
    color: #fff !important;
    box-shadow: 0px 3px 8px #aaa;
    border: 0px;
    /*float: left;*/
    margin-top: -55vw !important;
	padding-top:1vw;
}

.boton-fecha i{
    font-size:7vw;
}


.contenedor_solapas {
	background-color: #007000;
    float: left;
    /*margin-left: 2%;*/
    position: relative;
   /* width: 96%;*/
	box-shadow: 0px 3px 8px #aaa;
	margin-bottom:5vw;
}





.contenedor_solapas table{
	margin:0px;
	padding:0px;
	width:100%;

  }

.contenedor_solapas table th{
	background-color: #007000;
	color: #fff;
	font-weight:bold;
	font-size:3.2vw;
	padding: 2vw 1vw;
    width: 23%;
}
.contenedor_solapas table tr{
	background-color:#fff;
}

.contenedor_solapas table tr.alterno{
	background-color:#eee;
}

.contenedor_solapas table td{
	font-size:3.2vw;
	text-align:center;
	padding: 2vw 1vw;
	vertical-align: middle;
}

.solapa_activa, .solapa{
	margin-top: 2vw;
    float: left;
    font-size: 3.5vw;
    font-weight: bold;
    padding: 2.5vw;
    position: relative;
    text-transform: uppercase;
    width: 50%;
	text-align:center;
    border-top: 1px solid #007000;
    border-left: 1px solid #007000;
    border-right: 1px solid #007000;
    border-radius: 5vw 5vw 0 0;
}

#btnActiva{
    /*margin-left: 2%;*/
}

a .solapa{
	color:#fff;
}

a .solapa_activa{
	color:#007000;
}

.solapa{
    background-color:#007000;
	color:#fff;
	font-weight:bold;
}




.contenedor-telefonos p{
    color: #000;
	font-size:3vw;
}

.contenedor-telefonos h3{
	color:#fff;
	background-color: #007000;
	border-radius: 2vw 0 2vw 0;
	padding: 2vw 3vw ;
	font-size: 4vw;
	margin-top:2vw;
	margin-bottom:0px;
}

.contenedor-telefonos span{
	font-weight: bold;
	position:relative;
	float:right;
	font-size:3.5vw;

	
}
.contenedor-telefonos p{
	margin:0px;
	padding: 10px;
}


.contenedor-telefonos p.sombreado{
	background-color:#eee;

}


.contenedor .title{
    padding-top: 10px !important;
    border-bottom: 1px solid #007000;
    /*margin-right: 7px;*/
    border-right: 1px solid #007000;
   /* margin-left: 7px;*/
    border-left: 1px solid #007000;
	width:100%;
	float:left;
	font-size:3.5vw;
	font-weight:bold;
}

#tablaFiestas, #tablaFiestasNovedades{
    width: 96%;
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: 0px 3px 8px #aaa;
	margin:2%;
}

#tablaFiestas th, #tablaFiestasNovedades th{
    background-color: #007000;
    color: #fff;
    padding: 5px;

}

#tablaFiestas td, #tablaFiestasNovedades td{
    padding: 5px;
	border-bottom: 1px solid #ddd;
}

/* TABLA ANUNCIOS */

#tablaAnuncios, #tablaBoletines, #tablaPadel{
    width: 100%;
    text-align: center;
	box-shadow: 0px 3px 8px #aaa;
	margin-top: 2vw;
}

#tablaAnuncioscab, #tablaBoletinescab, #tablaPadelCab{
    width: 100%;
    text-align: center;
}

#tablaAnuncios tr:nth-child(odd), #tablaBoletines tr:nth-child(odd), #tablaPadel tr:nth-child(odd) {
    /*background-color:#eee;*/
}
#tablaAnuncios tr:nth-child(even), #tablaBoletines tr:nth-child(even), #tablaPadel tr:nth-child(even)  {
    background-color:#eee;
}


#tablaAnuncioscab th, #tablaBoletinescab th, #tablaPadelCab th {
    background-color: #007000;
    color: #fff;
    padding: 2vw;
    font-size: 3.5vw;
}
#tablaAnuncioscab th.primero, #tablaBoletinescab th.primero {
   border-radius: 2vw 0px 0px;

}

#tablaAnuncioscab th.ultimo, #tablaBoletinescab th.ultimo {
   border-radius: 0 0 2vw 0;
}

 #tablaPadelCab th {
   border-radius: 3vw 0px;	 
 }
	 

#tablaAnuncios td, #tablaBoletines td, #tablaPadel td{
    padding: 10px;
    /*border-bottom: 1px solid #007000;*/
	vertical-align: middle;
	font-size: 3.5vw;
	height:8vw;
	line-height:3.5vw;
	text-align:center;
}

#tablaPadel td{
	font-size: 4vw;
	line-height:4.5vw;
}

.reserva{
	background-color:#007000;
	color:#fff;
	border-radius: 3vw 0px;	 
	padding:2vw;
	font-size:5vw;
	font-weight:bold;
	text-align:center;
	
}

.importante{
	text-align:center;
	font-size:4vw;
	font-weight:bold;
}


.alterno{
	background-color:lightgrey;
}

.negrita{
    font-weight: bold;
}

#tituloGaleria, #tituloTeatro{
    background-color: #007000;
    color: white;
    font-size: 5vw;
    font-weight: bold;
    padding: 0 5vw;
    border-radius: 8vw 0 8vw 0;
	float:left;
	display:block;
	width:100%;
	height:18vw;
	margin-bottom:2vw;

}

#contenidoGaleria, #contenidoTeatro{
    padding: 0;
    display: none;
    box-shadow: 0px 3px 8px #aaa;
	width:100%;
	margin-bottom:3vw;

}




#tituloGaleria i, #tituloTeatro i{
    margin-right: 3vw;
}

#tituloGaleria .fa, #tituloTeatro .fa{

	font-size:9vw;
	padding:5vw 3vw 7vw;
	float:left;
}

#tituloGaleria span, #tituloTeatro span  {
	height:15vw;
	padding-top: 6.5vw;

	font-size:5vw;
	display:block;
	vertical-align:middle;
}

.itemGaleria p, .itemTeatro p{
	font-weight:bold;
	padding:2vw 3vw 1vw;
	font-size:4.5vw;
		margin-top:1vw;

	
}

.itemGaleria i, .itemTeatro i{
	font-size:5.5vw;
	margin-right:2vw;
}


.itemGaleria a, .itemTeatro a{
	font-weight:normal;
	background-color:#eee;
	display:block;
	padding: 3vw;
	font-size:3.5vw;
	text-align:center;
	line-height: 4.5vw;
	color:#007000;
}

.itemGaleria a:hover, .itemTeatro a:hover{
		background-color:#007000;
		color:#fff;
}

.contenedorRaro{
    padding: 15px;
    margin: 15px;
    border: 1px solid #ddd;
	box-shadow: 0px 3px 8px #aaa;
}

.contenedorRaro p{
    color: #000;
	font-size:4vw;
	line-height:4.5vw;
}

.contenedorRaro a{
	background-color:#007000;
	display:block;
	padding: 3vw;
	border-radius:6vw 0;
	color: #fff;
	
}

.contenedorRaro p.DatosNombre{
	font-weight:bold;
}

.contenedorRaro .DatosTitulo{
	background-color:#eee;
	font-size:5.5vw;
	text-align:center;
	padding:3vw;
}

input[type='button'] {
    float:left;
	display: block;
	font-size: 5vw;
	width: 60%;
	padding-left:5%;
	padding-right: 5%;
	margin-left:20%;	
	margin-top:8%;	
	margin-bottom:10%;
	height: 14vw;
	box-shadow: 0px 3px 8px #aaa;
	border: none;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0em;
	border-radius: 1vw;
	background-color: #007000;
	color: #fff;
	cursor: pointer;
}

#tablaVotar{
    width: 70%;
}

#tablaVotar td{
    padding: 10px;
    width: 50%;
}

.tableRight{
    text-align: center;
}

.tableLeft{
    text-align: left;
}

#tablaVerVotacion{
    width: 100%;
    margin-top: 20px;
}

#tablaVerVotacion td{
    padding: 10px;
    border-bottom: 1px solid green;
}

.rawOne{
    width: 20%;
    font-weight: bold;
}

.rawTwo{
    width: 20%;
}

.rawThree{
    width: 60%;
    color: #007000;
}

.divYes, .divNo, .divMaybe, .divDk{
    background-color: #007000;
    float: right;
    border-radius: 5px;
    border: 1px solid #007000;
    width: 70%;
    height: 20px;
    margin-left: 5px;
}

.divYes2, .divNo2, .divMaybe2, .divDk2{
    width: 99%;
}

.tablaEncuesta{
    background-color: #007000;
    float: left;
    margin-left: 2%;
    position: relative;
    width: 96%;
	box-shadow: 0px 3px 8px #aaa;
	margin-bottom:10vw;
}

.tablaEncuesta td{
    background-color: #fff;
    width: 24%;
	padding: 10px;
}

.btnEncuesta{
    background-color: #007000;
    color: white;
    font-size: 4vw;
    font-weight: normal;
    padding: 7px 20px 7px 20px;
    margin-top: 10px;
    border-radius: 15px 0 15px 0;
}

.lineaSeparacion{
    width: 100%;
    height: 1px;
    background-color: #007000;
    margin-top: 10px;
}

.ServicioEncuestas th{
	font-size:3vw !important;
	vertical-align:middle;
	line-height: 4vw;
	padding-left: 1vw!important;
	padding-right: 1vw!important;
}

.ServicioEncuestas td{
	line-height: 4.5vw;
	font-size: 4vw !important;
}

.ServicioEncuestas td span{
	font-style: italic;
}

.ServicioEncuestas p{
	font-size: 5vw !important;	
}	

.ServicioEncuestas tbody{
    border-top: 1px solid #ddd;
}
	
.ServicioEncuestas .lineaSeparacion{
	background-color: #ccc!important;
	height:0px;
}



/* HORARIOS IGLESIA */

.horas-misa{
	border: 1px solid #eee;
    box-shadow: 0px 3px 8px #aaa;
	padding:4vw;
	font-size:4vw;
	line-height:5vw;
	text-align:center;
}

